<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Visita Agendada</title>
  <link rel="stylesheet" href="/css/client-success.css">
</head>
<body>
  <h1>Visita agendada com sucesso!</h1>
  <p>
    Obrigado, <%= name %>.<br>
    Sua visita ao imóvel <strong><%= property.address %></strong> foi agendada para <strong><%= day %></strong> às <strong><%= slot %></strong>.
  </p>
  <a href="/">Voltar para início</a>
</body>
</html>
