<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>

  <div class="container"> 
    <div class="imagem">
  <img src="/girl_img.svg" alt="girl_img" class="girl" width="100%" height="100%"/>
  </div>

  <div class="form">
  <img src="/logo.svg" alt="Logo" class="logo"/>

  <form method="POST" action="/login/login">
    <input type="text" name="user_email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required/>
    <button type="submit">LOG IN</button>

  </form>
  </div>  
</div>

</body>
</html>
