<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Propriedades</title>
  <link rel="stylesheet" href="/css/agency-properties.css">
</head>
<body>
  <h1>Propriedades</h1>
  <!-- Conteúdo existente da página de propriedades -->
</body>
</html>